# DuckDNS token'i (Faz 16).
#
# NE ICIN: cloud-init acilista DuckDNS A kaydini sunucunun IP'sine
# yonlendirir. Elastic IP sabit oldugu icin bu aslinda tek seferlik, ama
# EIP kullanilmayan bir kurulumda her acilista gerekli hale gelir.
#
# NEREDEN: https://www.duckdns.org/ -> giris yap -> sayfanin ustundeki
# "token" alani.
#
# Kullanim:
#   cp secrets/duckdns_token.example secrets/duckdns_token.enc
#   # ASAGIDAKI SATIRI kendi token'inla degistir, yorumlari sil
#   ./scripts/secrets.sh encrypt secrets/duckdns_token.enc
#
# DIKKAT: cozulmus dosya YALNIZCA token'i icermeli - bu yorumlar silinmeli.

00000000-0000-0000-0000-000000000000
